# Default ignored files
/shelf/
/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/SHADE1.1_CEC2014/
SHADE1.1.1_CEC2014_c++.zip
